extent layout 

block content
    h1=title 
    - let biscuits = div({Brandname:"oreo",Price:3.2 , Flavour:"chocklate"},{Brandname:"parlaz",Price:4,Flavour:"Strawberry"},{Brandname:"Kit",Price:6,Flavour:"vanela"}="") 
    